{
  "presets": [
    //this is the code to tell that on what type of environment we want babel to work with and here we passed browsers and we want babel to work on every browser with last 5 versions and on internet explorer 8 and above
    ["env",
    {
      "targets": {
        "browsers": ["last 5 versions", "ie >= 8"]
      }
    }]
  ]
}
